{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она
            уже использовалась. Пожалуйста, запросите повторный сброс пароля.</p>
    {% endif %}
{% endblock %}